.tracking {
  background: url('https://wareiq-assets.s3.amazonaws.com/tracking-background.png');
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
 /*---- responsive-design -----*/
}
.tracking.kama {
  background-image: url('https://wareiq-assets.s3.amazonaws.com/background_ayurveda.png');
}
.tracking .clear {
  clear: both;
}
.tracking .announcement {
  height: 40px;
  color: #000;
  font-size: 14px;
  overflow: hidden;
  position: relative;
  background: #feb21a;
  background: linear-gradient(90deg, #feb21a, #fedb28 50%, #feb21a);
  top: 73px;
}
.tracking .announcement p {
  width: max-content;
  overflow: hidden;
  margin-top: 10px;
  min-width: 100vw;
  transform: translateX(100%);
  animation: announcement 30s linear infinite;
}
.tracking .announcement p span {
  margin-right: 20px;
  color: #cd1212;
  font-size: 40px;
  line-height: 17px;
  vertical-align: text-top;
}
.tracking .company-top-bar {
  padding: 16px;
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.19);
  z-index: 10;
}
.tracking .company-top-bar.default {
  padding: 6px 16px 2px;
}
.tracking .company-top-bar .company-logo {
  max-height: 40px;
}
.tracking .tracking-page-container {
  padding-top: 110px;
  margin: 0 auto;
  font-size: 16px;
}
.tracking .tracking-page-container .spinner img {
  max-height: 50px;
}
.tracking .tracking-page-container .search-wrapper {
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
  background: #f9f9f9;
  padding: 2em 2em 2em;
  border-radius: 10px;
}
.tracking .tracking-page-container .search-wrapper img {
  margin-bottom: 10px;
}
.tracking .tracking-page-container .search-wrapper .title {
  margin: 0 auto 10px;
  text-align: center;
  color: #333590;
  font-weight: 500;
  font-size: 20px;
}
.track-radio-btns-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 14px;
  color: #616161;
}
.track-radio-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.track-radio-btn label {
  margin-bottom: 0;
  margin-left: 5px;
  cursor: pointer;
}
.track-radio-btn:not(:last-child) {
  margin-right: 15px;
}
.tracking .tracking-page-container .search-wrapper .id-search-container .sub-text {
  color: #616161;
  font-size: 14px;
  margin-bottom: 5px;
  display: flex;
  align-items: flex-start;
}
.tracking .tracking-page-container .search-wrapper .id-search-container .search-box {
  /* margin: 0; */
}
.tracking .tracking-page-container .search-wrapper .id-search-container .search-box .tracking_input {
  background: transparent;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #000;
  padding: 0;
  margin-bottom: 10px;
  outline: none;
  font-size: 15px;
  width: 100%;
}
.tracking .tracking-page-container .search-wrapper .id-search-container .search-box .track-btn {
  display: inline-block;
  text-align: center;
  margin: 10px auto 0;
  line-height: 16px;
  color: #fff;
  padding: 10px 24px;
  border-radius: 5px;
  background: #333590;
  cursor: pointer;
}
.tracking .tracking-page-container .search-wrapper .id-search-container .search-box .track-btn.disabled {
  cursor: default;
  pointer-events: none;
  background: #aaa;
}
.tracking .tracking-page-container .order-tracker-container {
  display: flex;
  margin-top: 4%;
  padding-left: 3em;
  padding-right: 1em;
}
.tracking .tracking-page-container .order-tracker-container .status-container .status-circle {
  padding: 11px;
  display: inline-block;
}
.tracking .tracking-page-container .order-tracker-container .status-container .status-info {
  margin-top: 12px;
  position: relative;
  left: -28%;
}
.tracking .tracking-page-container .order-tracker-container .status-container .status-info span {
  text-align: center;
}
.tracking .tracking-page-container .order-tracker-container.mobile {
  flex-direction: column;
  padding-left: 1em;
  display: none;
}
.tracking .tracking-page-container .order-tracker-container .status-container .status-circle, .tracking .tracking-page-container .order-tracker-container .mobile-status-container .status-circle {
  z-index: 2;
  position: relative;
  text-align: center;
  border-radius: 50%;
  background-color: #d3d3d3;
}
.tracking .tracking-page-container .order-tracker-container .status-container .status-circle .material-icons, .tracking .tracking-page-container .order-tracker-container .mobile-status-container .status-circle .material-icons {
  line-height: 24px;
  vertical-align: middle;
  color: #fff;
}
.tracking .tracking-page-container .order-tracker-container .status-container .status-info .status-text, .tracking .tracking-page-container .order-tracker-container .mobile-status-container .status-info .status-text {
  font-size: 14px;
}
.tracking .tracking-page-container .order-tracker-container .status-container .status-info span, .tracking .tracking-page-container .order-tracker-container .mobile-status-container .status-info span {
  font-size: 12px;
  display: block;
  margin: 0 auto;
}
.tracking .tracking-page-container .order-tracker-container .status-container.done .status-circle, .tracking .tracking-page-container .order-tracker-container .mobile-status-container.done .status-circle {
  background-color: #34c674;
}
.tracking .tracking-page-container .order-tracker-container .mobile-status-container {
  margin: 0 auto;
  width: 65%;
  display: none;
  justify-content: space-evenly;
}
.tracking .tracking-page-container .order-tracker-container .mobile-status-container .status-right {
  display: inline-block;
  vertical-align: top;
}
.tracking .tracking-page-container .order-tracker-container .mobile-status-container .status-right .status-circle {
  z-index: 2;
  display: flex;
  padding: 11px;
  align-items: center;
}
.tracking .tracking-page-container .order-tracker-container .mobile-status-container .status-right .mobile-track-line .line {
  width: 6px;
  height: 100px;
  margin: 0 auto;
  background-color: #d3d3d3;
}
.tracking .tracking-page-container .order-tracker-container .mobile-status-container .status-right .mobile-track-line.done-line .line {
  background-color: #34c674;
}
.tracking .tracking-page-container .order-tracker-container .mobile-status-container .status-info {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  margin-right: 20px;
}
.tracking .tracking-page-container .order-tracker-container .track-line {
  z-index: 1;
  display: flex;
  align-items: center;
  height: 50px;
}
.tracking .tracking-page-container .order-tracker-container .track-line .line {
  background-color: #d3d3d3;
  position: relative;
  width: 100%;
  left: -40%;
  transform: scale(2.5);
  height: 2px;
}
.tracking .tracking-page-container .order-tracker-container .track-line.done-line .line {
  background-color: #34c674;
}
.tracking .tracking-page-container .extra-info {
  display: flex;
  justify-content: space-between;
  margin-top: 3.5rem;
}
.tracking .tracking-page-container .extra-info .order-placed-info {
  display: inline-block;
  text-align: center;
  padding: 1em;
  width: 33.33%;
}
.tracking .tracking-page-container .extra-info .order-placed-info .title {
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #034d83;
}
.tracking .tracking-page-container .order-details {
  width: 100%;
  height: auto;
  margin: 3% auto 0 auto;
  background-color: #f9f9f9;
  padding: 2em 1em 1em;
  border-radius: 10px;
}
.tracking .tracking-page-container .order-details .date-section {
  padding: 0.2em 0.5em;
  background: #fff;
  margin-bottom: 1rem;
  color: #000;
}
.tracking .tracking-page-container .order-details .statusInfo {
  width: 80%;
  margin: 0 auto 1rem;
  color: #000;
  display: flex;
  align-items: center;
}
.tracking .tracking-page-container .order-details .statusInfo .info-time {
  display: inline-block;
  width: 18%;
  /* text-align: center; */
  margin-right: 2%;
  vertical-align: middle;
}
.tracking .tracking-page-container .order-details .statusInfo .info-city {
  display: inline-block;
  width: 33%;
  margin-right: 2%;
  /* text-align: center; */
  vertical-align: middle;
}
.tracking .tracking-page-container .order-details .statusInfo .info-status {
  display: inline-block;
  width: 45%;
  /* text-align: left; */
  vertical-align: middle;
}
.tracking .tracking-page-container .order-details .hide-details {
  text-align: center;
  color: #333590;
  cursor: pointer;
  margin-top: 1rem;
}
.tracking .tracking-page-container .order-details .hide-details:after {
  content: "";
  width: 0;
  position: relative;
  top: -12px;
  height: 0;
  left: 15px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #333590;
}
.tracking .tracking-page-container .view-deatils-btn {
  margin: 0 auto;
  text-align: center;
}
.tracking form {
  text-align: center;
}
.tracking form .tracking_input {
  padding: 0.5rem;
  border: solid grey 1px;
  border-radius: 5px;
}
.tracking .header {
  margin-top: 2%;
  width: 100%;
  text-align: center;
}
.tracking .header h1 {
  line-height: 25px;
  text-transform: uppercase;
  color: grey;
  font-size: 30px;
}
.tracking .content {
  width: 100%;
  height: auto;
  margin: 3% auto 0 auto;
  background-color: #f9f9f9;
  padding-bottom: 1em;
  border-radius: 10px;
}
.tracking .content1 {
  text-align: center;
  padding: 2em;
}
.tracking .content1 .latest-date {
  color: #616161;
  padding-top: 1em;
}
.tracking .content1 h2 {
  margin: 0;
  color: #34c674;
  font-size: 24px;
}
.tracking .content2 {
  background-color: #34c674;
  padding-left: 5%;
}
.tracking .content2-header1 {
  float: left;
  width: 27%;
  text-align: left;
  padding: 1.5em;
}
.tracking .content2-header1 p {
  font-size: 16px;
  font-weight: 700;
  color: #19154c;
  margin: 0;
}
.tracking .content2-header1 span {
  font-size: 14px;
  font-weight: 400;
}
.tracking .shipment {
  width: 100%;
  margin-top: 8%;
  padding-left: 2em;
  padding-right: 1em;
}
.tracking span.line {
  height: 5px;
  width: 80%;
  background-color: #d3d3d3;
  display: block;
  position: absolute;
  top: 28%;
  left: 25%;
}
.tracking .confirm {
  text-align: center;
  position: relative;
  float: left;
}
.tracking .confirm .imgcircle, .tracking .process .imgcircle, .tracking .quality .imgcircle {
  background-color: #34c674;
}
.tracking .confirm span.line, .tracking .process span.line {
  background-color: #34c674;
}
.tracking .content3 p {
  margin-left: -50%;
  font-size: 15px;
  color: #000;
}
.tracking .imgcircle {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-color: #d3d3d3;
  position: relative;
}
.tracking .imgcircle i {
  height: 30px;
  position: absolute;
  top: 34%;
  left: 34%;
  z-index: 2;
}
.tracking .process {
  position: relative;
  width: 20%;
  text-align: center;
  float: left;
}
.tracking .quality {
  position: relative;
  width: 20%;
  text-align: center;
  float: left;
}
.tracking .dispatch {
  position: relative;
  width: 20%;
  text-align: center;
  float: left;
}
.tracking .delivery {
  position: relative;
  text-align: center;
  float: left;
}
.tracking .info-button {
  margin-top: 1rem;
  width: auto;
  padding: 10px 24px;
  line-height: 16px;
  border: none;
  border-radius: 20px;
  color: #333590;
  font-size: 16px;
  text-transform: none;
  outline: none;
}
.tracking .details {
 /* Default Table Style */
}
.tracking .details table {
  color: #333;
  background: white;
  border: 1px solid grey;
  font-size: 14px;
  border-collapse: collapse;
  width: 100%;
}
.tracking .details table thead th, .tracking .details table tfoot th {
  color: #777;
  background: rgba(0, 0, 0, 0.1);
}
.tracking .details table caption {
  padding: 0.5em;
}
.tracking .details table th, .tracking .details table td {
  padding: 0.5em;
  border: 1px solid lightgrey;
}
.tracking .details strong {
  font-size: 12px;
  color: #1652f0;
}
.tracking .footer a, .tracking a:active {
  color: grey;
  text-decoration: none;
}
.tracking .footer a:hover {
  color: #00c4ff;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
.tracking .footer {
  margin-top: 3%;
  text-align: center;
  font-weight: 100;
  padding-bottom: 20px;
}
.tracking .footer p {
  color: #ebebeb;
  font-size: 15px;
  line-height: 25px;
}
.tracking .products-container {
  width: 50%;
  text-align: center;
  margin: 20px auto 0;
}
.tracking .products-container .products-title {
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #034d83;
}
.tracking .products-container .product {
  margin-bottom: 10px;
}
.tracking-error {
  color: #ef627a;
  font-size: 14px;
  margin-top: 15px;
}
.required-field {
  color: #ef627a;
  font-size: 12px;
}
@media (max-width: 1920px) {
  .tracking .shipment {
    margin-top: 4%;
 }
  .tracking .content3 p {
    margin-left: -65%;
 }
}
@media (max-width: 1680px) {
  .tracking .content3 p {
    margin-left: -60%;
 }
}
@media (max-width: 1440px) {
  .tracking .content3 p {
    margin-left: -53%;
 }
}
@media (max-width: 1366px) {
  .tracking .shipment {
    margin-top: 8%;
 }
}
@media (max-width: 1280px) {
  .tracking .order-tracker-container .status-container .status-info {
    left: -22% !important;
 }
}
@media (max-width: 1024px) {
  .tracking .content3 p {
    font-size: 14px;
 }
}
@media (max-width: 991px) {
  .tracking span.line {
    width: 84px;
    left: 47%;
 }
  .tracking .order-tracker-container .status-container .status-info {
    left: -18% !important;
 }
}
@media (max-width: 900px) {
  .tracking .order-tracker-container .status-container .status-info {
    left: -12% !important;
 }
}
@media (max-width: 800px) {
  .tracking .content2-header1 p {
    margin: 0 0 0 -7%;
 }
}
@media (max-width: 768px) {
  .tracking .content2-header1 {
    width: 25%;
 }
  .tracking .content2-header1 p {
    margin: 0 -19% 0 -10%;
 }
  .tracking .order-tracker-container .status-container .status-circle {
    padding: 8px !important;
 }
  .tracking .order-tracker-container .status-container .status-info {
    left: -11% !important;
 }
  .tracking .order-tracker-container .track-line {
    height: 44px !important;
 }
}
@media (max-width: 667px) {
  .tracking .content2-header1 p {
    font-size: 14px;
 }
  .tracking .content2-header1 span {
    font-size: 13px;
 }
  .tracking .shipment {
    margin-top: 11%;
 }
  .tracking .content3 p {
    font-size: 12px;
    margin-left: -35%;
 }
  .tracking .confirm {
    margin-left: 4%;
 }
  .tracking .search-wrapper img {
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
 }
 .tracking .tracking-page-container .order-tracker-container:not(.mobile) {
    display: none;
 }
 .tracking .tracking-page-container .order-tracker-container.mobile {
    flex-direction: column;
    padding-left: 1em;
    display: flex;
 }
 .tracking .tracking-page-container .order-tracker-container .status-container, .tracking .tracking-page-container .order-tracker-container .track-line {
   display: none;
 }
 .tracking .tracking-page-container .order-tracker-container .mobile-status-container {
  display: flex;
 }
}
@media (max-width: 600px) {
  .tracking .content1 {
    padding: 1.2em;
 }
  .tracking .content2-header1 p {
    font-size: 13px;
 }
  .tracking .content2-header1 span {
    font-size: 12px;
 }
  .tracking .content2-header1 {
    width: 24%;
 }
  .tracking .imgcircle {
    height: 65px;
    width: 65px;
 }
  .tracking .imgcircle img {
    top: 26%;
    left: 27%;
 }
  .tracking .content3 p {
    margin-left: -38%;
    font-size: 11px;
 }
  .tracking .content {
    height: auto;
 }
}
@media (max-width: 568px) {
  .tracking .tracking-page-container .search-wrapper {
    /* width: 80%; */
 }
  .tracking .content1 {
    padding: 1em;
 }
  .tracking .content2-header1 {
    width: 23%;
 }
  .tracking .imgcircle {
    height: 50px;
    width: 50px;
 }
  .tracking .imgcircle img {
    height: 25px;
    top: 27%;
    left: 25%;
 }
  .tracking .content3 p {
    font-size: 10px;
    margin-left: -46%;
 }
  .tracking .confirm {
    margin-left: 5%;
 }
}
@media (max-width: 470px) {
  .tracking .mobile-status-container {
    width: 100% !important;
 }
}
@media (max-width: 414px) {
  .tracking .tracking-page-container {
    font-size: 12px;
  }
  .tracking .header {
    margin-top: 8%;
 }
  .tracking .content {
    /* width: 93%; */
    height: auto;
    margin: 3% auto 0;
 }
  .tracking .content1 h2 {
    font-size: 22px;
 }
  .tracking .content2-header1 {
    padding: 0.7em;
    width: 80%;
    margin-left: 3%;
 }
  .tracking .content2-header1 p {
    font-size: 19px;
 }
  .tracking .content2-header1 span {
    font-size: 16px;
 }
  .tracking .confirm {
    width: 100% !important;
    margin: 5%;
 }
  .tracking .process {
    width: 100% !important;
    margin: 22% 0 0 5%;
 }
  .tracking .quality {
    width: 100% !important;
    margin: 22% 0 0 5%;
 }
  .tracking .dispatch {
    width: 100% !important;
    margin: 22% 0 0 5%;
 }
  .tracking .delivery {
    width: 100% !important;
    margin: 5%;
 }
  .tracking .imgcircle {
    height: 70px;
    width: 70px;
    margin-left: 35%;
 }
  .tracking .imgcircle img {
    height: 30px;
    top: 27%;
    left: 28%;
 }
  .tracking span.line {
    width: 6px;
    left: 47.5%;
    height: 120px;
 }
  .tracking .content3 p {
    font-size: 15px;
    margin: -20% 0 0 -72%;
 }
  .tracking .footer {
    padding: 1%;
 }
  .tracking .footer p {
    font-size: 16px;
 }
  .tracking .order-tracker-container .track-line {
    margin-left: calc(36% + 1.5em) !important;
 }
  .tracking .search-wrapper .title {
    font-size: 16px !important;
 }
 .tracking .tracking-page-container .order-details .statusInfo {
   width: 100%;
 }
}
@media (max-width: 384px) {
  .tracking .header {
    margin-top: 9%;
 }
  .tracking .content1 h2 {
    font-size: 21px;
 }
  .tracking .content3 p {
    margin: -13% 0 0 -74%;
 }
  .tracking .shipment {
    margin-top: 9%;
 }
  .tracking span.line {
    top: 154%;
    left: 44%;
    height: 52px;
 }
  .tracking .content {
    height: auto;
 }
  .tracking .footer {
    padding: 3%;
 }
  .tracking .footer p {
    font-size: 15px;
 }
}
@media (max-width: 375px) {
  .tracking .content {
    height: auto;
 }
  .tracking .content1 h2 {
    font-size: 20px;
 }
  .tracking span.line {
    top: 149%;
    left: 44.5%;
    height: 51px;
 }
  .tracking .shipment {
    margin-left: 15%;
 }
}
@media (max-width: 320px) {
  .tracking .header {
    margin-top: 10%;
 }
  .tracking .content {
    margin-top: 10%;
 }
  .tracking .content1 {
    padding: 1em;
 }
  .tracking .header h1 {
    font-size: 24px;
 }
  .tracking .content {
    height: auto;
 }
  .tracking .content1 h2 {
    font-size: 17px;
 }
  .tracking .content2-header1 span {
    font-size: 15px;
 }
  .tracking .content3 p {
    margin: -16% 0 0 -79%;
 }
  .tracking .shipment {
    margin-left: 17%;
 }
  .tracking span.line {
    top: 115%;
    left: 46%;
 }
  .tracking .footer {
    margin-top: 1%;
 }
  .tracking .footer p {
    font-size: 14px;
 }
}
@keyframes announcement {
  0% {
    transform: translateX(100%);
 }
  to {
    transform: translateX(-100%);
 }
}

.hide {
  display: none !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}