<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>{% if data and data.client_name %}{{ data.client_name }} | {% endif %}Order Tracking</title>
    <meta name="description" content="{% if data and data.client_name %}{{ data.client_name }} | {% endif %}Order Tracking">
    <link rel="preload" href="{{ url_for('static', filename='tracking.css', _scheme='https', _external=True) }}" as="style">
    <link rel="preload" href="{{ url_for('static', filename='tracking.js', _scheme='https', _external=True) }}" as="script">
    {% if data and data.banners and data.banners|length > 0 %}
      <link rel="preload" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" as="script">
    {% endif %}
    <link rel="icon" href="https://wareiq-assets.s3.amazonaws.com/WareIQ-ico.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='tracking.css', _scheme='https', _external=True) }}">
    {% if data and data.banners and data.banners|length > 0 %}
      <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
      <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    {% endif %}
  </head>
  <body class="tracking-page-body">
    <header class="tracking-header">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-md">
          {% if data and data.client_url %}
            {% set client_url = data.client_url %}
            {% if 'https://' not in client_url and 'http://' not in client_url %}
              {% set client_url = 'https://' + client_url %}
            {% endif %}
            <a class="navbar-brand navbar-brand--logo" href="{{ client_url }}" target="_blank">
              <img class="company-logo" src="{% if data and data.client_logo_url %}{{ data.client_logo_url }}{% else %}https://wareiq-assets.s3.amazonaws.com/wareiq-logo.svg{% endif %}" alt="{% if data and data.client_name %}{{ data.client_name }}{% else %}WareIQ{% endif %}" />
            </a>
          {% else %}
            <div class="navbar-brand navbar-brand--logo">
              <img class="company-logo" src="{% if data and data.client_logo_url %}{{ data.client_logo_url }}{% else %}https://wareiq-assets.s3.amazonaws.com/wareiq-logo.svg{% endif %}" alt="{% if data and data.client_name %}{{ data.client_name }}{% else %}WareIQ{% endif %}" />
            </div>
          {% endif %}
          {% if data and data.nav_links and data.nav_links|length > 0 %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
              <ul class="navbar-nav">
                {% for links in data.nav_links %}
                  <li class="nav-item">
                    {% set link_url = links.link_url %}
                    {% if 'https://' not in link_url and 'http://' not in link_url %}
                      {% set link_url = 'https://' + link_url %}
                    {% endif %}
                    <a class="nav-link" href="{{ link_url }}">{{ links.link_text }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </nav>
      </div>
    </header>
    <main class="tracking-main-content" style="{% if data and data.background_image_url %}background-image: url('{{ data.background_image_url }}'){% endif %}">
      <div class="tracking-container">
        <h1 class="page-title">Track your shipment</h1>
        <div class="order-search-container">
          <div class="search-by-label">Search by</div>
          <div class="track-radio-btns-container">
            <div class="track-radio-btn">
              <input type="radio" id="orderId" name="trackRadio" value="orderId" checked>
              <label for="orderId">Order ID</label>
            </div>
            <div class="track-radio-btn">
              <input type="radio" id="awbNumber" name="trackRadio" value="awbNumber">
              <label for="awbNumber">AWB Number</label>
            </div>
          </div>
          <div class="track-form-container">
            <div class="track-form-input-container orderid-search-container order-id-search">
              <label>Order ID <span class="input-required">*</span></label>
              <input class="track-form-input" name="orderId" id="order_id_input" placeholder="Enter order id" />
            </div>
            <div class="track-form-input-container orderid-search-container">
              <label>Mobile Number <span class="input-required">*</span></label>
              <input class="track-form-input" type="number" name="mobile" id="mobile_number_input" placeholder="Enter mobile number" />
            </div>
            <div class="track-form-input-container awb-search-container hide">
              <label>AWB Number <span class="input-required">*</span></label>
              <input class="track-form-input" name="awb" id="awb_number_input" placeholder="Enter AWB number" />
            </div>
            <div class="track-submit-container">
              <button class="track-submit-btn disabled" id="trackSubmitBtn">Track</button>
            </div>
          </div>
          <div class="tracking-error hide"></div>
        </div>
        {% if data and data.banners and data.banners|length > 0 %}
          <div class="tracking-banners-container">
            <div class="tracking-banners-carousel" id="tracking-banners-carousel">
              {% for banner in data.banners %}
                {% if banner.image_redirect_url %}
                  <a href="{{ banner.image_redirect_url }}" target="_blank" class="banner-carousel-item">
                {% else %}
                  <div class="banner-carousel-item">
                {% endif %}
                    <div class="banner-carousel-image">
                      <img src="{{ banner.banner_image_url }}" alt="" />
                    </div>
                {% if banner.image_redirect_url %}
                  </a>
                {% else %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
            <div class="banner-carousel-dots-container"></div>
          </div>
        {% endif %}
      </div>
    </main>
    <footer class="tracking-footer">
      <div class="container-fluid">
        <nav class="navbar">
        <div class="footer-container">
          <div class="footer-links">
            {% if data and data.support_url %}
              {% set support_url = data.support_url %}
              {% if 'https://' not in support_url and 'http://' not in support_url %}
                {% set support_url = 'https://' + support_url %}
              {% endif %}
              <a class="footer-link" href="{{ support_url }}">{{ data.support_url }}</a>
            {% endif %}
            {% if data and data.privacy_url %}
              {% set privacy_url = data.privacy_url %}
              {% if 'https://' not in privacy_url and 'http://' not in privacy_url %}
                {% set privacy_url = 'https://' + privacy_url %}
              {% endif %}
              <a class="footer-link" href="{{ privacy_url }}">Privacy Policy</a>
            {% endif %}
          </div>
          <div class="wareiq-branding">
            <span>Powered by</span>
            <img src="https://wareiq-assets.s3.amazonaws.com/wareiq-logo.svg" alt="WareIQ" class="wareiq-logo"/>
          </div>
        </div>
        </nav>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    {% if data and data.banners and data.banners|length > 0 %}
      <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    {% endif %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='tracking.js', _scheme='https', _external=True) }}"></script>
  </body>
</html>