* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.35px;
}

ul * {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  margin: 0;
}

body {
  min-height: 100vh;
  position: relative;
}

.tracking-page-body {
  display: flex;
  flex-direction: column;
}

.tracking-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1040;
  padding: 0px;
  box-shadow: 0px 0px 6px #00000029;
  background: #fff;
}

.tracking-header .navbar-toggler {
  padding: 0;
  height: 25px;
  outline: none !important;
}

.tracking-header .navbar-toggler .navbar-toggler-icon {
  display: inline-block;
  height: 3px;
  margin-bottom: 0px;
  background-color: #191F2B;
  box-shadow: 0 10px #191F2B, 0 20px #191F2B;
  vertical-align: top;
  width: 25px;
}

.tracking-header .navbar-collapse {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0px 8px 2px rgb(0 0 0 / 19%);
  position: absolute;
  width: 100%;
  top: 70px;
  right: 0;
}

.tracking-header .navbar-brand .company-logo {
  max-height: 30px;
}

.tracking-header .navbar {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.tracking-header .navbar-nav .nav-item .nav-link {
  font-size: 16px;
  color: #034D83;
  color: #191F2B;
  line-height: 19px;
  position: relative;
  margin: 0 0px;
}

.tracking-header .navbar-nav .nav-item .nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #034d83;
  /* background: #191F2B; */
  height: 2px;
  transition: all 0.3s;
  pointer-events: none;
}

.tracking-header .navbar-nav .nav-item:hover .nav-link:after {
  width: 100%;
}

.tracking-footer {
  background: #F8F8F8;
  padding: 10px 0;
  font-size: 10px;
  color: #191F2B;
  font-weight: 400;
  line-height: 10px;
}

.tracking-footer .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.tracking-footer .wareiq-branding, .tracking-footer .footer-links {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.tracking-footer .wareiq-branding {
  align-items: flex-end;
}

.tracking-footer .wareiq-branding .wareiq-logo {
  width: 100px;
  max-width: 100%;
  margin-left: 10px;
}

.tracking-footer .footer-links .footer-link {
  color: inherit;
  position: relative;
  text-decoration: none !important;
  margin-bottom: 10px;
}

.tracking-footer .footer-links .footer-link:last-child {
  margin-bottom: 0;
}

.tracking-footer .navbar {
  padding: 0;
}

.hide {
  display: none !important;
}

.tracking-main-content {
  flex-grow: 1;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding: 30px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.tracking-main-content .tracking-container {
  width: 100%;
  max-width: 100%;
  padding: 0 15px;
}

.tracking-main-content .page-title {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 10px;
  font-weight: 500;
  text-align: left;
}

.tracking-main-content .order-search-container {
  background: #F8F8F8;
  border-radius: 12px;
  padding: 25px;
}

.tracking-main-content .order-search-container .search-by-label {
  font-size: 14px;
  color: #000000;
  line-height: 16px;
}

.tracking-main-content .order-search-container .track-radio-btns-container {
  display: flex;
}

.tracking-main-content .order-search-container .track-radio-btns-container .track-radio-btn {
  margin: 15px 30px 25px 0;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.tracking-main-content .order-search-container .track-radio-btns-container .track-radio-btn:last-child {
  margin-right: 0;
}

.tracking-main-content .order-search-container .track-radio-btns-container .track-radio-btn input[type=radio] {
  height: 18px;
  width: 18px;
  margin-right: 10px;
  cursor: pointer;
}

.tracking-main-content .order-search-container .track-radio-btns-container .track-radio-btn label {
  margin-bottom: 0;
  cursor: pointer;
}

.tracking-main-content .order-search-container .track-form-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.tracking-main-content .order-search-container .track-form-container .track-form-input-container {
  width: 100%;
  margin-bottom: 20px;
}

.tracking-main-content .order-search-container .track-form-container .track-form-input-container .track-form-input {
  display: block;
  width: 100%;
  max-width: 100%;
  border-radius: 6px;
  background: #FFFFFF;
  border: 1px solid transparent;
  padding: 7px 10px;
  font-size: 12px;
  line-height: 19px;
  color: #000000;
}

.tracking-main-content .order-search-container .track-form-container .track-form-input-container .track-form-input:focus {
  border-color: #034D83;
}

.tracking-main-content .order-search-container .track-form-container .track-form-input-container .track-form-input::-webkit-input-placeholder, 
.tracking-main-content .order-search-container .track-form-container .track-form-input-container .track-form-input::-moz-placeholder, 
.tracking-main-content .order-search-container .track-form-container .track-form-input-container .track-form-input:-ms-input-placeholder, 
.tracking-main-content .order-search-container .track-form-container .track-form-input-container .track-form-input:-moz-placeholder {
  color: #8C8C8C;
}

.tracking-main-content .order-search-container .track-form-container .track-form-input-container label {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 10px;
  color: #000000;
}

.tracking-main-content .order-search-container .track-form-container .track-form-input-container label .input-required {
  color: #EF4663;
}

.tracking-main-content .order-search-container .track-form-container .track-submit-container .track-submit-btn {
  width: 100px;
  border-radius: 6px;
  border: none;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  background: #034D83;
  color: #fff;
  cursor: pointer;
  outline: none !important;
  margin-top: 10px;
}

.tracking-main-content .order-search-container .track-form-container .track-submit-container .track-submit-btn.disabled {
  background: #aaa;
  cursor: default;
  pointer-events: none;
}

.tracking-main-content .order-search-container .tracking-error {
  color: #ef627a;
  font-size: 14px;
  margin-top: 15px;
}

.tracking-banners-container {
  margin-top: 30px;
}

.tracking-banners-container .banner-carousel-dots-container {
  display: flex;
  justify-content: center;
}

.tracking-banners-container .banner-carousel-dots {
  list-style: none;
  display: flex;
  height: 20px;
  margin-top: 20px;
  padding: 0;
}

.tracking-banners-container .banner-carousel-dots li button {
  display: none;
}

.tracking-banners-container .banner-carousel-dots li {
  display: inline-block;
  width: 10px;
  border-radius: 100%;
  height: 10px;
  background: #fff;
  border: 1px solid #034D83;
  cursor: pointer;
  margin: 0 5px;
  z-index: 1;
}

.tracking-banners-container .banner-carousel-dots li.slick-active {
  background: #034D83;
}

.tracking-banners-container .slick-track {
  display: flex;
  align-items: center;
}

.tracking-banners-container .banner-carousel-item {
  padding: 0px;
}

.tracking-banners-container .banner-carousel-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}

.tracking-details-page-content {
  max-width: 100%;
  padding: 0 15px;
  width: 100%;
}

.tracking-details-page-content .tracking-details-info-container {
  background: #F8F8F8;
  border-radius: 12px;
  padding: 25px;
}

.tracking-details-page-content .tracking-details-info-container .order-details h1 {
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 10px;
  font-weight: 500; 
}

.tracking-details-page-content .tracking-details-info-container .order-details .order-detail-item {
  display: flex;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  margin-bottom: 5px;
}

.tracking-details-page-content .tracking-details-info-container .order-details .order-detail-item label {
  margin-bottom: 0;
  margin-right: 10px;
  min-width: 65px;
  font-weight: 500;
}

.tracking-details-page-content .tracking-details-info-container .awb-details {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tracking-details-page-content .tracking-details-info-container .awb-details {
  font-size: 12px;
  line-height: 14px;
  color: #000;
}

.tracking-details-page-content .tracking-details-info-container .awb-details .courier-info .courier-image {
  max-height: 20px;
}

.tracking-details-page-content .tracking-details-info-container .awb-details .courier-info .awb-number {
  margin-top: 10px;
}

.tracking-details-page-content .tracking-details-info-container .awb-details .eta-info {
  text-align: right;
}

.tracking-details-page-content .tracking-details-info-container .awb-details .eta-info label {
  font-weight: 500;
  margin-bottom: 0;
}

.tracking-details-page-content .tracking-details-info-container .awb-details .eta-info h2 {
  margin-bottom: 0;
  font-weight: 400;
  margin-top: 5px;
  font-size: inherit;
  line-height: inherit;
}

.tracking-details-page-content .tracking-details-info-container .shipping-tracker-container-desktop {
  display: none;
}

.tracking-details-page-content .tracking-details-info-container .shipping-tracker-container {
  padding-top: 40px;
  margin-top: 30px;
  border-top: 1px solid #E8E8E8;
}

.tracking-details-page-content .tracking-details-info-container .shipping-tracker-container .tracker-title {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  font-weight: 500;
  margin-bottom: 30px;
}

.tracking-details-page-content .tracking-details-info-container .shipping-tracker-container .status-tracker-list .status-tracker-item {
  display: flex;
}

.tracking-details-page-content .tracking-details-info-container .shipping-tracker-container .status-tracker-list .status-tracker-item .status-tracker-item-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 35px;
}

.tracking-details-page-content .tracking-details-info-container .shipping-tracker-container .status-tracker-list .status-tracker-item .status-icon {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  background: #DDDDDD;
}

.tracking-details-page-content .tracking-details-info-container .shipping-tracker-container .status-tracker-list .status-tracker-item .status-icon img {
  max-width: 100%;
}

.tracking-details-page-content .tracking-details-info-container .shipping-tracker-container .status-tracker-list .status-tracker-item .status-line {
  height: calc(100% - 30px);
  width: 3px;
  background: #DDDDDD;
}

.tracking-details-page-content .tracking-details-info-container .shipping-tracker-container .status-tracker-list .status-tracker-item .status-tracker-item-right {
  padding-bottom: 35px;
}

.tracking-details-page-content .tracking-details-info-container .shipping-tracker-container .status-tracker-list .status-tracker-item .status-tracker-item-right.without-time {
  padding-top: 5px;
}

.tracking-details-page-content .tracking-details-info-container .shipping-tracker-container .status-tracker-list .status-tracker-item .status-tracker-item-right.disabled .status-text, .tracking-details-page-content .tracking-details-info-container .shipping-tracker-container .status-tracker-list .status-tracker-item .status-tracker-item-right.disabled .status-city {
  color: #B9B9B9;
}

.tracking-details-page-content .tracking-details-info-container .shipping-tracker-container .status-tracker-list .status-tracker-item:last-child .status-tracker-item-right {
  padding-bottom: 5px;
}

.tracking-details-page-content .tracking-details-info-container .shipping-tracker-container .status-tracker-list .status-tracker-item .status-text {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  font-weight: 500;
}

.tracking-details-page-content .tracking-details-info-container .shipping-tracker-container .status-tracker-list .status-tracker-item .status-city {
  font-size: 12px;
  line-height: 14px;
  color: #313131;
  font-weight: 400;
  margin-top: 2px;
}

.tracking-details-page-content .tracking-details-info-container .shipping-tracker-container .view-all-updates-btn {
  margin: 20px 0 5px;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  color: #034D83;
  font-weight: 500;
  cursor: pointer;
}

.popup-modal {
  z-index: 1051;
}

.popup-modal .modal-content{
  background: transparent;
  border: 0;
  box-shadow: none;
  display: flex;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  flex-direction: row;
}

.popup-modal .modal-body {
  background: #fff;
  padding: 0;
  width: 100%;
  height: 100%;
}

.popup-modal .modal-dialog {
  margin: 0 auto;
  padding: 0px;
  max-width: 100%;
  width: max-content;
  display: flex !important;
  align-items: center;
  min-height: 100%;
}

.popup-modal .close-btn {
  line-height: 12px;
  font-size: 24px;
  color: #034D83;
  font-weight: 300;
  cursor: pointer;
}

.updates-modal.popup-modal .modal-body {
  padding: 30px 25px;
}

.updates-modal .modal-body .modal-header-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #DCDCDC;
}

.updates-modal .modal-body .modal-header-container .latest-status-info .latest-status {
  font-size: 24px;
  line-height: 28px;
}

.updates-modal .modal-body .modal-header-container .latest-status-info .latest-status-date {
  font-size: 12px;
  line-height: 14px;
  margin-top: 5px;
  color: #313131;
}

.updates-table-container table {
  width: 100%;
}

.updates-table-container .updates-table-header {
  background: #F2F2F2;
}

.updates-table-container td {
  padding: 10px;
  color: #444444;
  font-size: 10px;
}

.updates-table-container th {
  padding: 10px 0;
}

.updates-table-container th .table-header-text {
  padding: 0 10px;
  color: #000000;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500 !important;
  border-right: 1px solid #DDDDDD;
}

.updates-table-container th:last-child .table-header-text {
  border-right: none;
}

.updates-table-container tr {
  border-top: 1px solid #DCDCDC;
}

.updates-table-container tr:last-child {
  border-bottom: 1px solid #DCDCDC;
}

@media only screen and (min-width: 576px) {
  .tracking-header .navbar-brand .company-logo {
    max-height: 40px;
  }

  .tracking-header .navbar-collapse {
    width: 80%;
  }
  
  .tracking-header .navbar-nav .nav-item .nav-link {
    margin: 0 5px;
  }

  .tracking-footer {
    padding: 20px 0;
    font-size: 12px;
    line-height: 16px;
  }

  .tracking-footer .wareiq-branding, .tracking-footer .footer-links {
    flex-direction: row;
    align-items: center;
  }

  .tracking-footer .wareiq-branding .wareiq-logo {
    margin-left: 10px;
  }
  
  .tracking-footer .footer-links .footer-link {
    padding-bottom: 5px;
    padding-top: 5px;
    margin-right: 40px;
    margin-bottom: 0;
  }

  .tracking-footer .footer-links .footer-link:last-child {
    margin-right: 0;
  }

  .tracking-footer .footer-links .footer-link:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    /* background: #034d83; */
    background: #191F2B;
    height: 2px;
    transition: all 0.3s;
    pointer-events: none;
  }
  
  .tracking-footer .footer-links .footer-link:hover:after {
    width: 100%;
  }

  .tracking-main-content {
    padding: 40px 0px;
  }

  .tracking-main-content .tracking-container {
    width: 85%;
  }
  
  .tracking-main-content .page-title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .tracking-main-content .order-search-container {
    padding: 30px;
  }
  
  .tracking-main-content .order-search-container .search-by-label {
    font-size: 16px;
    line-height: 19px;
  }
  
  .tracking-main-content .order-search-container .track-radio-btns-container .track-radio-btn {
    margin: 15px 40px 20px 0;
    font-size: 16px;
    line-height: 19px;
  }

  .tracking-main-content .order-search-container .track-radio-btns-container .track-radio-btn input[type=radio] {
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }
  
  .tracking-main-content .order-search-container .track-form-container .track-form-input-container .track-form-input {
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 21px;
  }
  
  .tracking-main-content .order-search-container .track-form-container .track-submit-container .track-submit-btn {
    width: 130px;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 16px;
  }
  
  .tracking-main-content .order-search-container .tracking-error {
    font-size: 14px;
    margin-top: 15px;
  }

  .tracking-details-page-content {
    max-width: 85%;
  }

  .tracking-details-page-content .tracking-details-info-container {
    padding: 30px;
  }

  .tracking-details-page-content .tracking-details-info-container .order-details h1 {
    font-size: 32px;
    line-height: 36px;
  }

  .tracking-details-page-content .tracking-details-info-container .order-details .order-detail-item {
    font-size: 14px;
    line-height: 19px;
  }

  .tracking-details-page-content .tracking-details-info-container .awb-details {
    font-size: 14px;
    line-height: 19px;
  }

  .tracking-details-page-content .tracking-details-info-container .shipping-tracker-container .tracker-title {
    font-size: 18px;
    line-height: 21px;
  }

  .tracking-details-page-content .tracking-details-info-container .shipping-tracker-container .status-tracker-list .status-tracker-item .status-icon {
    width: 35px;
    height: 35px;
    padding: 10px;
  }

  .tracking-details-page-content .tracking-details-info-container .shipping-tracker-container .status-tracker-list .status-tracker-item .status-line {
    height: calc(100% - 35px);
  }

  .tracking-details-page-content .tracking-details-info-container .shipping-tracker-container .status-tracker-list .status-tracker-item .status-text {
    font-size: 16px;
    line-height: 19px;
  }

  .tracking-details-page-content .tracking-details-info-container .shipping-tracker-container .status-tracker-list .status-tracker-item .status-city {
    font-size: 14px;
    line-height: 16px;
    margin-top: 5px;
  }

  .tracking-details-page-content .tracking-details-info-container .shipping-tracker-container .view-all-updates-btn {
    margin: 25px 0 5px;
    font-size: 16px;
    line-height: 19px;
  }

  .updates-modal .modal-body .modal-header-container {
    padding-bottom: 15px;
  }

  .updates-modal .modal-body .modal-header-container .latest-status-info .latest-status {
    font-size: 28px;
    line-height: 34px;
  }

  .updates-modal .modal-body .modal-header-container .latest-status-info .latest-status-date {
    font-size: 14px;
    line-height: 16px;
  }

  .popup-modal .close-btn {
    line-height: 20px;
    font-size: 28px;
  }

  .updates-table-container th .table-header-text {
    font-size: 14px;
    line-height: 19px;
  }

  .updates-table-container td {
    font-size: 12px;
  }
  
}

@media only screen and (min-width: 768px) {
  .tracking-header .navbar-collapse {
    top: 0;
    background: transparent;
    box-shadow: none;
    padding: 0;
    position: relative;
    border-radius: 0;
    right: unset;
    width: unset;
  }
  .tracking-header .navbar {
    padding-left: 15px;
    padding-right: 15px;
  }
  .tracking-header .navbar-nav .nav-item .nav-link {
    margin: 0 10px;
  }
  .tracking-footer .navbar {
    padding-left: 15px;
    padding-right: 15px;
  }
  .tracking-main-content .tracking-container {
    width: 85%;
  }
  .tracking-main-content {
    padding: 50px 0px;
  }
  .tracking-main-content .page-title {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 50px;
  }
  .tracking-main-content .order-search-container {
    padding: 40px;
  }
  .tracking-main-content .order-search-container .track-radio-btns-container .track-radio-btn {
    margin: 15px 40px 30px 0;
  }
  .tracking-main-content .order-search-container .track-form-container .track-form-input-container {
    margin-right: 30px;
    width: calc((100% - 130px - 60px)/2);
    margin-bottom: 0;
  }
  .tracking-main-content .order-search-container .track-form-container .track-form-input-container.awb-search-container{
    width: calc(100% - 130px - 30px);
  }
  .tracking-main-content .order-search-container .track-form-container .track-submit-container .track-submit-btn {
    margin-top: 0px;
  }
  .tracking-banners-container {
    margin-top: 50px;
  }
  .tracking-banners-container .banner-carousel-item {
    padding: 0 40px;
  }
  .tracking-details-page-content .tracking-details-info-container {
    padding: 30px;
  }
  .tracking-details-page-content .tracking-details-info-container .order-details h1 {
    font-size: 34px;
    line-height: 40px;
  }
  .tracking-details-page-content .tracking-details-info-container .awb-details .eta-info {
    font-size: 16px;
    line-height: 21px;
  }
  .tracking-details-page-content .tracking-details-info-container .shipping-tracker-container .status-tracker-list .status-tracker-item .status-icon {
    width: 40px;
    height: 40px;
  }
  .tracking-details-page-content .tracking-details-info-container .shipping-tracker-container .status-tracker-list .status-tracker-item .status-line {
    height: calc(100% - 40px);
  }
  .tracking-details-page-content .tracking-details-info-container .shipping-tracker-container .status-tracker-list .status-tracker-item .status-tracker-item-right {
    padding-bottom: 40px;
  }
  .tracking-details-page-content .tracking-details-info-container .shipping-tracker-container .status-tracker-list .status-tracker-item .status-tracker-item-right.without-time {
    padding-top: 10px;
  }
}

@media only screen and (min-width: 992px) {
  .tracking-header {
    padding: 5px 0;
  }
  .tracking-header .navbar-brand .company-logo {
    max-height: 50px;
  }
  .tracking-footer {
    padding: 25px 0;
  }
  .tracking-main-content .order-search-container {
    padding: 50px 70px;
  }
  .tracking-main-content .order-search-container .track-form-container .track-form-input-container {
    margin-right: 50px;
    width: calc((100% - 150px - 100px)/2);
  }
  .tracking-main-content .order-search-container .track-form-container .track-form-input-container.awb-search-container{
    width: calc(100% - 150px - 50px);
  }
  .tracking-main-content .order-search-container .track-form-container .track-form-input-container .track-form-input {
    padding: 15px 25px;
  }
  .tracking-main-content .order-search-container .track-form-container .track-submit-container .track-submit-btn {
    width: 150px;
    padding: 15px 20px;
    margin-top: 0px;
  }
  .tracking-banners-container {
    margin-top: 80px;
  }
  .tracking-details-page-content {
    max-width: 100%;
    padding: 0 30px;
  }
  .tracking-details-page-content .tracking-details-info-container {
    background: #fff;
    box-shadow: 1px 1px 6px #00000029;
    padding: 35px;
  }
  .tracking-details-page-content .tracking-details-info-container .tracking-details-info-top-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .tracking-details-page-content .tracking-details-info-container .awb-details {
    flex-direction: column-reverse;
    margin-top: 0;
    align-items: flex-end;
    height: 100%;
  }
  .tracking-details-page-content .tracking-details-info-container .awb-details .courier-info {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  .tracking-details-page-content .tracking-details-info-container .awb-details .courier-info .courier-image {
    max-height: 25px;
  }
  .tracking-details-page-content .tracking-details-info-container .awb-details .courier-info .awb-number {
    margin-top: 0;
    margin-left: 20px;
  }
  .tracking-details-page-content .tracking-details-info-container .awb-details .eta-info label {
    font-size: 14px;
    line-height: 16px;
  }
  .tracking-details-page-content .tracking-details-info-container .awb-details .eta-info h2 {
    font-size: 30px;
    line-height: 41px;
    margin-top: 0;
    font-weight: 400 !important;
  }
  .tracking-details-page-content .tracking-details-info-container .shipping-tracker-container .tracker-title {
    margin-bottom: 40px;
  }
  .tracking-details-page-content .tracking-details-info-container .shipping-tracker-container {
    padding: 20px 30px;
    border-radius: 12px;
    background: #F8F8F8;
    border-top: none;
  }
  .tracking-details-page-content .tracking-details-info-container .shipping-tracker-container .status-tracker-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .tracking-details-page-content .tracking-details-info-container .shipping-tracker-container .status-tracker-list .status-tracker-item {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .tracking-details-page-content .tracking-details-info-container .shipping-tracker-container .status-tracker-list .status-tracker-item .status-tracker-item-left {
    flex-direction: row;
    margin-right: 0;
  }
  .tracking-details-page-content .tracking-details-info-container .shipping-tracker-container .status-tracker-list .status-tracker-item .status-line {
    height: 3px;
    width: calc(100% - 40px);
  }
  .tracking-details-page-content .tracking-details-info-container .shipping-tracker-container .status-tracker-list .status-tracker-item .status-tracker-item-right {
    padding-bottom: 0;
    margin-top: 25px;
    padding-top: 0 !important;
    padding-right: 15px;
  }
  .tracking-details-page-content .tracking-details-info-container .shipping-tracker-container .status-tracker-list .status-tracker-item .status-text {
    font-size: 14px;
    line-height: 16px;
  }
  .tracking-details-page-content .tracking-details-info-container .shipping-tracker-container .status-tracker-list .status-tracker-item .status-city {
    font-size: 12px;
    line-height: 14px;
  }
  .tracking-details-page-content .tracking-details-info-container .shipping-tracker-container .view-all-updates-btn {
    margin: 50px 0 0px;
    text-align: left;
    font-size: 14px;
    line-height: 16px;
  }
  .updates-modal .modal-body .modal-header-container {
    padding-bottom: 25px;
    margin-bottom: 30px;
  }
  .updates-modal .modal-body .modal-header-container .latest-status-info .latest-status {
    font-size: 32px;
    line-height: 38px;
  }
  .popup-modal .close-btn {
    line-height: 22px;
    font-size: 30px;
  }
  .popup-modal .modal-content {
    height: 100%;
    width: 800px;
    max-width: 100%;
    min-height: unset;
  }
  .popup-modal {
    max-height: 80vh;
    margin-top: 10vh;
  }
  .popup-modal .modal-dialog {
    height: 100%;
  }
  .updates-modal.popup-modal .modal-body {
    overflow: auto;
    border-radius: 8px;
  }
}
@media only screen and (min-width: 1200px) {
  .tracking-main-content .tracking-container {
    width: 75%;
  }
  .tracking-banners-container {
    margin-top: 100px;
  }
  .tracking-details-page-content {
    max-width: 90%;
  }
  .tracking-details-page-content .tracking-details-info-container {
    padding: 40px;
  }
  .tracking-details-page-content .tracking-details-info-container .order-details h1 {
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 15px;
  }
  .tracking-details-page-content .tracking-details-info-container .awb-details .eta-info h2 {
    font-size: 35px;
    line-height: 41px;
    margin-top: 5px;
  }
  .tracking-details-page-content .tracking-details-info-container .awb-details .courier-info {
    margin-top: 25px;
  }
  .tracking-details-page-content .tracking-details-info-container .shipping-tracker-container {
    padding: 25px 50px;
    margin-top: 60px;
  }
  .tracking-details-page-content .tracking-details-info-container .shipping-tracker-container .tracker-title {
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 24px;
  }
  .tracking-details-page-content .tracking-details-info-container .shipping-tracker-container .status-tracker-list .status-tracker-item .status-icon {
    width: 45px;
    height: 45px;
    padding: 12px;
  }
  .tracking-details-page-content .tracking-details-info-container .shipping-tracker-container .status-tracker-list .status-tracker-item .status-line {
    width: calc(100% - 45px);
  }
  .tracking-details-page-content .tracking-details-info-container .shipping-tracker-container .status-tracker-list .status-tracker-item .status-text {
    font-size: 16px;
    line-height: 19px;
  }
  .popup-modal .modal-content {
    width: 1000px;
    padding: 50px 0;
    background: #fff;
    border-radius: 12px;
  }
  .updates-modal.popup-modal .modal-body {
    border-radius: 12px;
    padding: 0 50px;
  }
  .updates-modal .modal-body .modal-header-container .latest-status-info .latest-status {
    font-size: 40px;
    line-height: 52px;
  }
  .updates-table-container th .table-header-text {
    font-size: 16px;
    line-height: 27px;
  }
  .updates-table-container td {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1500px) {
  .tracking-main-content .order-search-container {
    padding: 60px 90px;
  }
  .tracking-details-page-content .tracking-details-info-container {
    padding: 50px;
  }
  .tracking-details-page-content .tracking-details-info-container .order-details h1 {
    font-size: 48px;
    line-height: 57px;
  }
  .tracking-details-page-content .tracking-details-info-container .shipping-tracker-container .status-tracker-list .status-tracker-item .status-icon {
    width: 50px;
    height: 50px;
  }
  .tracking-details-page-content .tracking-details-info-container .shipping-tracker-container .status-tracker-list .status-tracker-item .status-line {
    width: calc(100% - 50px);
  }
}